openapi: 3.2.0
info:
  title: Worklittle Business Platform Email Offers API
  version: 1.0.0
  description: 'Business / platform surface of the Worklittle API: apply and Apply-with-AI sessions, People Search, job listings and employer posting, candidates and pipeline, employees, email and offers, webhooks, documents, attendance, surveys, resumes, cover letters, and agent document tools. Resolved from the provider''s $ref-based root spec at https://docs.worklittle.com/openapi/openapi.yaml (paths/platform.yaml fragments). Authenticate with Authorization: Bearer sk-wl-api01-....'
servers:
- url: https://api.worklittle.com
security:
- bearerAuth: []
tags:
- name: email-offers
paths:
  /business/emails:
    get:
      tags:
      - email-offers
      summary: Email templates CRUD
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '400':
          $ref: ../openapi.yaml#/components/schemas/Error
      operationId: getBusinessEmails
      x-operation-id-source: derived
  /business/emails/sent:
    get:
      tags:
      - email-offers
      summary: List org sent emails (ATS + automation) with open stats
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: source
        schema:
          type: string
          enum:
          - ats
          - automation
          - all
      - in: query
        name: status
        schema:
          type: string
      - in: query
        name: since
        schema:
          type: integer
      - in: query
        name: until
        schema:
          type: integer
      - in: query
        name: candidate_id
        schema:
          type: string
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      responses:
        '200':
          description: OK
        '400':
          $ref: ../openapi.yaml#/components/schemas/Error
      operationId: getBusinessEmailsSent
      x-operation-id-source: derived
  /business/emails/sent/{id}:
    get:
      tags:
      - email-offers
      summary: Get one sent email with open rollups
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '404':
          $ref: ../openapi.yaml#/components/schemas/Error
      operationId: getBusinessEmailsSentById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: sk-wl-api01
